<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Project Title</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/main.css">
        
        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

        <script src="//localhost:35729/livereload.js"></script>
    </head>
    <body>

            <header>
                <div class="container header-container">
                    <div class="header-logo-wrapper"><a href=""><img src="img/logo.png"></a></div>
                    <div class="navbar-toggle-container">
                        <a href="" id="navbar-toggle-btn">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <div class="header-navbar">
                        <ul>
                            <li>
                                <a href="">
                                    <div class="navbar-icon-wrapper"><i class="fa fa-thumb-tack"></i></div> <div class="navbar-list-title-wrapper">DROPID <span>Advertentie platseen</span></div>
                                </a>
                            </li>
                             <li>
                                <a href="">
                                    <div class="navbar-icon-wrapper"><i class="fa fa-search"></i></div> <div class="navbar-list-title-wrapper">ZOEK VOOR MIJ<span>Houd mij op de hoogte</span></div>
                                </a>
                            </li>
                             <li>
                               <a href="">
                                    <div class="navbar-icon-wrapper"><i class="fa fa-bars"></i></div> <div class="navbar-list-title-wrapper">RUBRIEKEN <span>Blader door rubrieken</span></div>
                                </a>
                            </li>
                             <li>
                               <a href="">
                                    <div class="navbar-icon-wrapper"><i class="fa fa-envelope"></i></div> <div class="navbar-list-title-wrapper">CONTACT <span>Vragen en opmerkingen</span></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="container-fluid header-secondary-container-wrapper" >
                    <div class="container header-secondary-container">
                        <div class="header-secondary-info pull-left">
                            <div class="header-secondary-icon-wrapper"><img src="img/pin.png"></div>
                            <h6>REGIO FRIESLAND <br>8508 RG <i class="fa fa-chevron-left"></i> 50KM</h6>
                        </div>
                        <div class="subheader-dropdown dropdown">
                            <a href="" data-toggle="dropdown">VOEG EEN <br class="visible-xs"> WIDGET TOE <i class="fa fa-chevron-right"></i></a>
                            <div class="dropdown-menu">
                                <div class="dropdown-menu-col">
                                    <h3 class="col-title">WIDGETS BEHEREN</h3>
                                    <ul>
                                        <li>
                                            <h4>TOP ADVERTENTIES</h4>
                                            <p>Toont de topadvertenties</p>
                                            <a href="" class="remov-item">
                                                <span class="icon"></span>
                                                Verwijder
                                            </a>
                                        </li>
                                        <li>
                                            <h4>TOP ADVERTENTIES</h4>
                                            <p>Toont de topadvertenties</p>
                                            <a href="" class="remov-item">
                                                <span class="icon"></span>
                                                Verwijder
                                            </a>
                                        </li>
                                        <li>
                                            <h4>TOP ADVERTENTIES</h4>
                                            <p>Toont de topadvertenties</p>
                                            <a href="" class="remov-item">
                                                <span class="icon"></span>
                                                Verwijder
                                            </a>
                                        </li>
                                        <li>
                                            <h4>TOP ADVERTENTIES</h4>
                                            <p>Toont de topadvertenties</p>
                                            <a href="" class="remov-item">
                                                <span class="icon"></span>
                                                Verwijder
                                            </a>
                                        </li>
                                        <li>
                                            <h4>TOP ADVERTENTIES</h4>
                                            <p>Toont de topadvertenties</p>
                                            <a href="" class="remov-item">
                                                <span class="icon"></span>
                                                Verwijder
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dropdown-menu-col">
                                    <h3 class="col-title">WIDGETS BEHEREN</h3>
                                    <ul>
                                        <li>
                                            <h4>TOP ADVERTENTIES</h4>
                                            <p>Toont de topadvertenties</p>
                                            <a href="" class="add-item">
                                                <span class="icon"></span><br>
                                                Voeg toe
                                            </a>
                                        </li>
                                        <li>
                                            <h4>TOP ADVERTENTIES</h4>
                                            <p>Toont de topadvertenties</p>
                                            <a href="" class="add-item">
                                                <span class="icon"></span><br>
                                                Voeg toe
                                            </a>
                                        </li>
                                        <li>
                                            <h4>TOP ADVERTENTIES</h4>
                                            <p>Toont de topadvertenties</p>
                                            <a href="" class="add-item">
                                                <span class="icon"></span><br>
                                                Voeg toe
                                            </a>
                                        </li>
                                        <li>
                                            <h4>TOP ADVERTENTIES</h4>
                                            <p>Toont de topadvertenties</p>
                                            <a href="" class="add-item">
                                                <span class="icon"></span><br>
                                                Voeg toe
                                            </a>
                                        </li>
                                        <li>
                                            <h4>TOP ADVERTENTIES</h4>
                                            <p>Toont de topadvertenties</p>
                                            <a href="" class="add-item">
                                                <span class="icon"></span><br>
                                                Voeg toe
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="header-secondary-form pull-right">
                            <form class="form-horizontal">
                                <div class="form-inner">
                                    <input type="text" class="form-control" placeholder="Zoeken op trefwoord...">
                                </div>
                                <div class="form-inner styled-select">
                                    <select class="form-control">
                                        <option>Rubrieken...</option>
                                    </select>
                                </div>
                                <div class="form-inner">
                                    <input type="text"  class="form-control short-input"placeholder="8508 RG...">
                                </div>
                                <div class="form-inner styled-select">
                                     <select class="form-control">
                                        <option>50 km</option>
                                    </select>
                                </div>
                                <div class="form-inner ">
                                     <a href="">Zoeken <i class="fa fa-search"></i></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </header>


	<div class="container main-container about-container">

	</div>


	<footer>
        <div class="container footer-container">
            <ul>
                <li><h6>Veiligheid</h6>
                    <ul>
                        <li><a href="">Tips voor veilig handelen</a></li>
                        <li><a href="">Meld een adverteerder</a></li>
                        <li><a href="">Meld een advertentie</a></li>
                    </ul>
                </li>
                <li><h6>Voorwaarden en privacybeleid</h6>
                    <ul>
                        <li><a href="">Algemene gebruikersvoorwaarden</a></li>
                        <li><a href="">Privacybeleid</a></li>
                        <li>
                            <a href="">Verboden of verdachte objecten en diensten</a>
                        </li>
                    </ul>
                </li>
                <li><h6>Help en info</h6>
                    <ul>
                        <li><a href="">Over Dropbord</a></li>
                        <li><a href="">Veelgestelde vragen</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </li>
            </ul>
        </div>
	</footer>












	<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>-->
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/masonry.pkgd.min.js"></script>
    <script src="js/vendor/imagesloaded.pkgd.min.js"></script>

    <!-- Main js file -->
    <script src="js/main.js"></script>

    <!-- Page specific js files -->
    <script src="js/home.js"></script>
        
    </body>
</html>