<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Project Title</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/main.css">
        
        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

        <script src="//localhost:35729/livereload.js"></script>
    </head>
    <body>

            <header>
                <div class="container header-container">
                    <div class="header-logo-wrapper"><a href=""><img src="img/logo.png"></a></div>
                    <div class="header-navbar header-loggedin-navbar">
                        <ul>
                            <li>
                                <a href="">
                                    <div class="navbar-icon-wrapper"><i class="fa fa-thumb-tack"></i></div> <div class="navbar-list-title-wrapper">DROPID <span>Advertentie platseen</span></div>
                                </a>
                            </li>
                             <li>
                                <a href="">
                                    <div class="navbar-icon-wrapper"><i class="fa fa-search"></i></div> <div class="navbar-list-title-wrapper">ZOEK VOOR MIJ<span>Houd mij op de hoogte</span></div>
                                </a>
                            </li>
                             <li>
                               <a href="">
                                    <div class="navbar-icon-wrapper"><i class="fa fa-bars"></i></div> <div class="navbar-list-title-wrapper">RUBRIEKEN <span>Blader door rubrieken</span></div>
                                </a>
                            </li>
                             <li>
                               <a href="">
                                    <div class="navbar-icon-wrapper"><i class="fa fa-envelope"></i></div> <div class="navbar-list-title-wrapper">CONTACT <span>Vragen en opmerkingen</span></div>
                                </a>
                            </li>
                            <li>
                               <a href="">
                                    <div class="navbar-icon-wrapper"><img src="img/avatar-img.png"></div> <div class="navbar-list-title-wrapper">A. Arakelov <span>Bewerk uw profiel</span></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="container-fluid header-secondary-container-wrapper" >
                    <div class="container header-secondary-container">
                        <div class="header-secondary-info pull-left">
                            <div class="header-secondary-icon-wrapper"><img src="img/pin.png"></div>
                            <h6>REGIO FRIESLAND <br>8508 RG <i class="fa fa-chevron-left"></i> 50KM</h6>
                        </div>
                        <div class="subheader-dropdown dropdown">
                            <a href="" data-toggle="dropdown">VOEG EEN WIDGET TOE <i class="fa fa-chevron-right"></i></a>
                            <div class="dropdown-menu">
                                <div class="dropdown-menu-col">
                                    <h3 class="col-title">WIDGETS BEHEREN</h3>
                                    <ul>
                                        <li>
                                            <h4>TOP ADVERTENTIES</h4>
                                            <p>Toont de topadvertenties</p>
                                            <a href="" class="remov-item">
                                                <span class="icon"></span>
                                                Verwijder
                                            </a>
                                        </li>
                                        <li>
                                            <h4>TOP ADVERTENTIES</h4>
                                            <p>Toont de topadvertenties</p>
                                            <a href="" class="remov-item">
                                                <span class="icon"></span>
                                                Verwijder
                                            </a>
                                        </li>
                                        <li>
                                            <h4>TOP ADVERTENTIES</h4>
                                            <p>Toont de topadvertenties</p>
                                            <a href="" class="remov-item">
                                                <span class="icon"></span>
                                                Verwijder
                                            </a>
                                        </li>
                                        <li>
                                            <h4>TOP ADVERTENTIES</h4>
                                            <p>Toont de topadvertenties</p>
                                            <a href="" class="remov-item">
                                                <span class="icon"></span>
                                                Verwijder
                                            </a>
                                        </li>
                                        <li>
                                            <h4>TOP ADVERTENTIES</h4>
                                            <p>Toont de topadvertenties</p>
                                            <a href="" class="remov-item">
                                                <span class="icon"></span>
                                                Verwijder
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dropdown-menu-col">
                                    <h3 class="col-title">WIDGETS BEHEREN</h3>
                                    <ul>
                                        <li>
                                            <h4>TOP ADVERTENTIES</h4>
                                            <p>Toont de topadvertenties</p>
                                            <a href="" class="add-item">
                                                <span class="icon"></span><br>
                                                Voeg toe
                                            </a>
                                        </li>
                                        <li>
                                            <h4>TOP ADVERTENTIES</h4>
                                            <p>Toont de topadvertenties</p>
                                            <a href="" class="add-item">
                                                <span class="icon"></span><br>
                                                Voeg toe
                                            </a>
                                        </li>
                                        <li>
                                            <h4>TOP ADVERTENTIES</h4>
                                            <p>Toont de topadvertenties</p>
                                            <a href="" class="add-item">
                                                <span class="icon"></span><br>
                                                Voeg toe
                                            </a>
                                        </li>
                                        <li>
                                            <h4>TOP ADVERTENTIES</h4>
                                            <p>Toont de topadvertenties</p>
                                            <a href="" class="add-item">
                                                <span class="icon"></span><br>
                                                Voeg toe
                                            </a>
                                        </li>
                                        <li>
                                            <h4>TOP ADVERTENTIES</h4>
                                            <p>Toont de topadvertenties</p>
                                            <a href="" class="add-item">
                                                <span class="icon"></span><br>
                                                Voeg toe
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="header-secondary-form pull-right">
                            <form class="form-horizontal">
                                <div class="form-inner">
                                    <input type="text" class="form-control" placeholder="Zoeken op trefwoord...">
                                </div>
                                <div class="form-inner styled-select">
                                    <select class="form-control">
                                        <option>Rubrieken...</option>
                                    </select>
                                </div>
                                <div class="form-inner">
                                    <input type="text"  class="form-control short-input"placeholder="8508 RG...">
                                </div>
                                <div class="form-inner styled-select">
                                     <select class="form-control">
                                        <option>50 km</option>
                                    </select>
                                </div>
                                <div class="form-inner ">
                                     <a href="">Zoeken <i class="fa fa-search"></i></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </header>

	<div class="container main-container home-container">
		<div class="modal-fixed-list">
			<ul>
				<li><a href="#" data-href="adv-change-panel">Change panel</a></li>
				<li><a href="#" data-href="adv-login-page">Login page</a></li>
				<li><a href="#" data-href="adv-notlogged">Not logged</a></li>
				<li><a href="#" data-href="placing-notlogged">Placing Not logged</a></li>
				<li><a href="#" data-href="adv-open">Open page</a></li>
				<li><a href="#" data-href="adv-placing-content">Placing content</a></li>
				<li><a href="#" data-href="inlogged">In logged</a></li>

			</ul>
		</div>
		<div class="row">
			<div class="col-md-9">
				<div class="home-items-container">
					<div class="home-item">
						<div class="masonry-container">							
							<div class="home-item-title">
								<h2>TOP ADVERTENTIES</h2>
								<a href="" class="item-close">&nbsp;</a>
							</div>
							<div class="item sold">
								<div class="home-item-img-container">
									<div class="home-item-img">
										<img src="img/item-img.png" class="img-responsive">
										<div class="price-wrapper">BIEDEN</div>
									</div>
									<div class="home-item-data">
										<div class="date">12-05-2013</div>
										<div class="location">Leeuwarden, FR</div>
										<div class="comments"><a href="#"><i class="fa fa-comment"></i>Reacties (3)</a></div>
									</div>
								</div>
								<div class="home-item-description">
									<p><strong>Te koop</strong></p>
									<p>Lorum ipsum dollar si amet Lorum ipsum dollar si 
										ametLorum ipsum dollar si amet am
										etLorum ipsum dollar si amet
									</p>
									<div class="home-item-description-btn">									
										<button class="btn btn-primary">BEKIJK <i class="fa fa-chevron-right"></i></button>
									</div>								
								</div>
							</div>
							<div class="item reserved">
								<div class="home-item-img-container">
									<div class="home-item-img">
										<img src="img/item-img-small.png" class="img-responsive">
										<div class="price-wrapper">€495,-</div>
									</div>
									<div class="home-item-data">
										<div class="date">12-05-2013</div>
										<div class="location">Leeuwarden, FR</div>
										<div class="comments"><a href="#"><i class="fa fa-comment"></i>Reacties (3)</a></div>
									</div>
								</div>
								<div class="home-item-description">
									<p><strong>Te koop</strong></p>
									<p>Lorum ipsum dollar si amet Lorum ipsum dollar si 
										ametLorum ipsum dollar si amet am
										etLorum ipsum dollar si amet
									</p>
									<div class="home-item-description-btn">									
										<button class="btn btn-primary">BEKIJK <i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>
							<div class="item sold">
								<div class="home-item-img-container">
									<div class="home-item-img">
										<img src="img/item-img-small.png" class="img-responsive">
										<div class="price-wrapper">BIEDEN</div>
									</div>
									<div class="home-item-data">
										<div class="date">12-05-2013</div>
										<div class="location">Leeuwarden, FR</div>
										<div class="comments"><a href="#"><i class="fa fa-comment"></i>Reacties (3)</a></div>
									</div>
								</div>
								<div class="home-item-description">
									<p><strong>Te koop</strong></p>
									<p>Lorum ipsum dollar si amet Lorum ipsum dollar si 
										ametLorum ipsum dollar si amet am
										etLorum ipsum dollar si amet
									</p>
									<div class="home-item-description-btn">									
										<button class="btn btn-primary">BEKIJK <i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>
							<div class="item sold">
								<div class="home-item-img-container">
									<div class="home-item-img">
										<img src="img/item-img.png" class="img-responsive">
										<div class="price-wrapper">BIEDEN</div>
									</div>
									<div class="home-item-data">
										<div class="date">12-05-2013</div>
										<div class="location">Leeuwarden, FR</div>
										<div class="comments"><a href="#"><i class="fa fa-comment"></i>Reacties (3)</a></div>
									</div>
								</div>
								<div class="home-item-description">
									<p><strong>Te koop</strong></p>
									<p>Lorum ipsum dollar si amet Lorum ipsum dollar si 
										ametLorum ipsum dollar si amet am
										etLorum ipsum dollar si amet
									</p>
									<div class="home-item-description-btn">									
										<button class="btn btn-primary">BEKIJK <i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>
							<div class="item reserved">
								<div class="home-item-img-container">
									<div class="home-item-img">
										<img src="img/item-img-small.png" class="img-responsive">
										<div class="price-wrapper">€495,-</div>
									</div>
									<div class="home-item-data">
										<div class="date">12-05-2013</div>
										<div class="location">Leeuwarden, FR</div>
										<div class="comments"><a href="#"><i class="fa fa-comment"></i>Reacties (3)</a></div>
									</div>
								</div>
								<div class="home-item-description">
									<p><strong>Te koop</strong></p>
									<p>Lorum ipsum dollar si amet Lorum ipsum dollar si 
										ametLorum ipsum dollar si amet am
										etLorum ipsum dollar si amet
									</p>
									<div class="home-item-description-btn">									
										<button class="btn btn-primary">BEKIJK <i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>
							<div class="item sold">
								<div class="home-item-img-container">
									<div class="home-item-img">
										<img src="img/item-img-small.png" class="img-responsive">
										<div class="price-wrapper">BIEDEN</div>
									</div>
									<div class="home-item-data">
										<div class="date">12-05-2013</div>
										<div class="location">Leeuwarden, FR</div>
										<div class="comments"><a href="#"><i class="fa fa-comment"></i>Reacties (3)</a></div>
									</div>
								</div>
								<div class="home-item-description">
									<p><strong>Te koop</strong></p>
									<p>Lorum ipsum dollar si amet Lorum ipsum dollar si 
										ametLorum ipsum dollar si amet am
										etLorum ipsum dollar si amet
									</p>
									<div class="home-item-description-btn">									
										<button class="btn btn-primary">BEKIJK <i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>

							<div class="masonry-btn-wrapper">
								<button class="btn btn-primary">BEKIJK ALLE</button>
							</div>
						</div>
					</div>
					<div class="home-item">
						<div class="masonry-container">
							<div class="home-item-title">
								<h2>ZOEKOPDRACHT: AUDI A3 2.0 16V AIRCO WATERSPORT </h2>
								<a href="" class="item-close">&nbsp;</a>
							</div>
							<div class="item">
								<div class="home-item-img-container">
									<div class="home-item-img">
										<img src="img/item-img.png" class="img-responsive">
										<div class="price-wrapper">€495,-</div>
									</div>
									<div class="home-item-data">
										<div class="date">12-05-2013</div>
										<div class="location">Leeuwarden, FR</div>
										<div class="comments"><a href="#"><i class="fa fa-comment"></i>Reacties (3)</a></div>
									</div>
								</div>
								<div class="home-item-description">
									<p><strong>Te koop</strong></p>
									<p>Lorum ipsum dollar si amet Lorum ipsum dollar si 
										ametLorum ipsum dollar si amet am
										etLorum ipsum dollar si amet
									</p>
									<div class="home-item-description-btn">									
										<button class="btn btn-primary">BEKIJK <i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>
							<div class="item sold">
								<div class="home-item-img-container">
									<div class="home-item-img">
										<img src="img/item-img-small.png" class="img-responsive">
										<div class="price-wrapper">BIEDEN</div>
									</div>
									<div class="home-item-data">
										<div class="date">12-05-2013</div>
										<div class="location">Leeuwarden, FR</div>
										<div class="comments"><a href="#"><i class="fa fa-comment"></i>Reacties (3)</a></div>
									</div>
								</div>
								<div class="home-item-description">
									<p><strong>Te koop</strong></p>
									<p>Lorum ipsum dollar si amet Lorum ipsum dollar si 
										ametLorum ipsum dollar si amet am
										etLorum ipsum dollar si amet
									</p>
									<div class="home-item-description-btn">									
										<button class="btn btn-primary">BEKIJK <i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="home-item-img-container">
									<div class="home-item-img">
										<img src="img/item-img.png" class="img-responsive">
										<div class="price-wrapper">€495,-</div>
									</div>
									<div class="home-item-data">
										<div class="date">12-05-2013</div>
										<div class="location">Leeuwarden, FR</div>
										<div class="comments"><a href="#"><i class="fa fa-comment"></i>Reacties (3)</a></div>
									</div>
								</div>
								<div class="home-item-description">
									<p><strong>Te koop</strong></p>
									<p>Lorum ipsum dollar si amet Lorum ipsum dollar si 
										ametLorum ipsum dollar si amet am
										etLorum ipsum dollar si amet
									</p>
									<div class="home-item-description-btn">									
										<button class="btn btn-primary">BEKIJK <i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>
							<div class="item sold">
								<div class="home-item-img-container">
									<div class="home-item-img">
										<img src="img/item-img-small.png" class="img-responsive">
										<div class="price-wrapper">BIEDEN</div>
									</div>
									<div class="home-item-data">
										<div class="date">12-05-2013</div>
										<div class="location">Leeuwarden, FR</div>
										<div class="comments"><a href="#"><i class="fa fa-comment"></i>Reacties (3)</a></div>
									</div>
								</div>
								<div class="home-item-description">
									<p><strong>Te koop</strong></p>
									<p>Lorum ipsum dollar si amet Lorum ipsum dollar si 
										ametLorum ipsum dollar si amet am
										etLorum ipsum dollar si amet
									</p>
									<div class="home-item-description-btn">									
										<button class="btn btn-primary">BEKIJK <i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>

							<div class="masonry-btn-wrapper">
								<button class="btn btn-primary">BEKIJK ALLE</button>
							</div>
						</div>
					</div>
					<div class="home-item">
						<div class="masonry-container">
							
							<div class="home-item-title">
								<h2>RUBRIEK: WATERSPORT & BOTEN</h2>
								<a href="" class="item-close">&nbsp;</a>
							</div>
							
							<div class="item sold">
								<div class="home-item-img-container">
									<div class="home-item-img">
										<img src="img/item-img.png" class="img-responsive">
										<div class="price-wrapper">BIEDEN</div>
									</div>
									<div class="home-item-data">
										<div class="date">12-05-2013</div>
										<div class="location">Leeuwarden, FR</div>
										<div class="comments"><a href="#"><i class="fa fa-comment"></i>Reacties (3)</a></div>
									</div>
								</div>
								<div class="home-item-description">
									<p><strong>Te koop</strong></p>
									<p>Lorum ipsum dollar si amet Lorum ipsum dollar si 
										ametLorum ipsum dollar si amet am
										etLorum ipsum dollar si amet
									</p>
									<div class="home-item-description-btn">									
										<button class="btn btn-primary">BEKIJK <i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>
							<div class="item sold">
								<div class="home-item-img-container">
									<div class="home-item-img">
										<img src="img/item-img-small.png" class="img-responsive">
										<div class="price-wrapper">BIEDEN</div>
									</div>
									<div class="home-item-data">
										<div class="date">12-05-2013</div>
										<div class="location">Leeuwarden, FR</div>
										<div class="comments"><a href="#"><i class="fa fa-comment"></i>Reacties (3)</a></div>
									</div>
								</div>
								<div class="home-item-description">
									<p><strong>Te koop</strong></p>
									<p>Lorum ipsum dollar si amet Lorum ipsum dollar si 
										ametLorum ipsum dollar si amet am
										etLorum ipsum dollar si amet
									</p>
									<div class="home-item-description-btn">									
										<button class="btn btn-primary">BEKIJK <i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="home-item-img-container">
									<div class="home-item-img">
										<img src="img/item-img.png" class="img-responsive">
										<div class="price-wrapper">€495,-</div>
									</div>
									<div class="home-item-data">
										<div class="date">12-05-2013</div>
										<div class="location">Leeuwarden, FR</div>
										<div class="comments"><a href="#"><i class="fa fa-comment"></i>Reacties (3)</a></div>
									</div>
								</div>
								<div class="home-item-description">
									<p><strong>Te koop</strong></p>
									<p>Lorum ipsum dollar si amet Lorum ipsum dollar si 
										ametLorum ipsum dollar si amet am
										etLorum ipsum dollar si amet
									</p>
									<div class="home-item-description-btn">									
										<button class="btn btn-primary">BEKIJK <i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>
							<div class="item sold">
								<div class="home-item-img-container">
									<div class="home-item-img">
										<img src="img/item-img-small.png" class="img-responsive">
										<div class="price-wrapper">BIEDEN</div>
									</div>
									<div class="home-item-data">
										<div class="date">12-05-2013</div>
										<div class="location">Leeuwarden, FR</div>
										<div class="comments"><a href="#"><i class="fa fa-comment"></i>Reacties (3)</a></div>
									</div>
								</div>
								<div class="home-item-description">
									<p><strong>Te koop</strong></p>
									<p>Lorum ipsum dollar si amet Lorum ipsum dollar si 
										ametLorum ipsum dollar si amet am
										etLorum ipsum dollar si amet
									</p>
									<div class="home-item-description-btn">									
										<button class="btn btn-primary">BEKIJK <i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>

							<div class="masonry-btn-wrapper">
								<button class="btn btn-primary">BEKIJK ALLE</button>
							</div>
						</div>
					</div>
					<div class="home-item">
						<div class="masonry-container">
							<div class="home-item-title">
								<h2>RUBRIEK: WATERSPORT & BOTEN</h2>
								<a href="" class="item-close">&nbsp;</a>
							</div>
							
							<div class="item">
								<div class="home-item-img-container">
									<div class="home-item-img">
										<img src="img/item-img.png" class="img-responsive">
										<div class="price-wrapper">€495,-</div>
									</div>
									<div class="home-item-data">
										<div class="date">12-05-2013</div>
										<div class="location">Leeuwarden, FR</div>
										<div class="comments"><a href="#"><i class="fa fa-comment"></i>Reacties (3)</a></div>
									</div>
								</div>
								<div class="home-item-description">
									<p><strong>Te koop</strong></p>
									<p>Lorum ipsum dollar si amet Lorum ipsum dollar si 
										ametLorum ipsum dollar si amet am
										etLorum ipsum dollar si amet
									</p>
									<div class="home-item-description-btn">									
										<button class="btn btn-primary">BEKIJK <i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>
							<div class="item sold">
								<div class="home-item-img-container">
									<div class="home-item-img">
										<img src="img/item-img-small.png" class="img-responsive">
										<div class="price-wrapper">BIEDEN</div>
									</div>
									<div class="home-item-data">
										<div class="date">12-05-2013</div>
										<div class="location">Leeuwarden, FR</div>
										<div class="comments"><a href="#"><i class="fa fa-comment"></i>Reacties (3)</a></div>
									</div>
								</div>
								<div class="home-item-description">
									<p><strong>Te koop</strong></p>
									<p>Lorum ipsum dollar si amet Lorum ipsum dollar si 
										ametLorum ipsum dollar si amet am
										etLorum ipsum dollar si amet
									</p>
									<div class="home-item-description-btn">									
										<button class="btn btn-primary">BEKIJK <i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>
							<div class="item sold">
								<div class="home-item-img-container">
									<div class="home-item-img">
										<img src="img/item-img.png" class="img-responsive">
										<div class="price-wrapper">BIEDEN</div>
									</div>
									<div class="home-item-data">
										<div class="date">12-05-2013</div>
										<div class="location">Leeuwarden, FR</div>
										<div class="comments"><a href="#"><i class="fa fa-comment"></i>Reacties (3)</a></div>
									</div>
								</div>
								<div class="home-item-description">
									<p><strong>Te koop</strong></p>
									<p>Lorum ipsum dollar si amet Lorum ipsum dollar si 
										ametLorum ipsum dollar si amet am
										etLorum ipsum dollar si amet
									</p>
									<div class="home-item-description-btn">									
										<button class="btn btn-primary">BEKIJK <i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>
							<div class="item sold">
								<div class="home-item-img-container">
									<div class="home-item-img">
										<img src="img/item-img-small.png" class="img-responsive">
										<div class="price-wrapper">BIEDEN</div>
									</div>
									<div class="home-item-data">
										<div class="date">12-05-2013</div>
										<div class="location">Leeuwarden, FR</div>
										<div class="comments"><a href="#"><i class="fa fa-comment"></i>Reacties (3)</a></div>
									</div>
								</div>
								<div class="home-item-description">
									<p><strong>Te koop</strong></p>
									<p>Lorum ipsum dollar si amet Lorum ipsum dollar si 
										ametLorum ipsum dollar si amet am
										etLorum ipsum dollar si amet
									</p>
									<div class="home-item-description-btn">									
										<button class="btn btn-primary">BEKIJK <i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="home-item-img-container">
									<div class="home-item-img">
										<img src="img/item-img.png" class="img-responsive">
										<div class="price-wrapper">€495,-</div>
									</div>
									<div class="home-item-data">
										<div class="date">12-05-2013</div>
										<div class="location">Leeuwarden, FR</div>
										<div class="comments"><a href="#"><i class="fa fa-comment"></i>Reacties (3)</a></div>
									</div>
								</div>
								<div class="home-item-description">
									<p><strong>Te koop</strong></p>
									<p>Lorum ipsum dollar si amet Lorum ipsum dollar si 
										ametLorum ipsum dollar si amet am
										etLorum ipsum dollar si amet
									</p>
									<div class="home-item-description-btn">									
										<button class="btn btn-primary">BEKIJK <i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>
							<div class="item sold">
								<div class="home-item-img-container">
									<div class="home-item-img">
										<img src="img/item-img-small.png" class="img-responsive">
										<div class="price-wrapper">BIEDEN</div>
									</div>
									<div class="home-item-data">
										<div class="date">12-05-2013</div>
										<div class="location">Leeuwarden, FR</div>
										<div class="comments"><a href="#"><i class="fa fa-comment"></i>Reacties (3)</a></div>
									</div>
								</div>
								<div class="home-item-description">
									<p><strong>Te koop</strong></p>
									<p>Lorum ipsum dollar si amet Lorum ipsum dollar si 
										ametLorum ipsum dollar si amet am
										etLorum ipsum dollar si amet
									</p>
									<div class="home-item-description-btn">									
										<button class="btn btn-primary">BEKIJK <i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>
							<div class="masonry-btn-wrapper">
								<button class="btn btn-primary">BEKIJK ALLE</button>
							</div>
						</div>
					</div>
					<div class="home-item">
						<div class="masonry-container">
							<div class="home-item-title">
								<h2>TOP ADVERTENTIES</h2>
								<a href="" class="item-close">&nbsp;</a>
							</div>
							<div class="item sold">
								<div class="home-item-img-container">
									<div class="home-item-img">
										<img src="img/item-img.png" class="img-responsive">
										<div class="price-wrapper">BIEDEN</div>
									</div>
									<div class="home-item-data">
										<div class="date">12-05-2013</div>
										<div class="location">Leeuwarden, FR</div>
										<div class="comments"><a href="#"><i class="fa fa-comment"></i>Reacties (3)</a></div>
									</div>
								</div>
								<div class="home-item-description">
									<p><strong>Te koop</strong></p>
									<p>Lorum ipsum dollar si amet Lorum ipsum dollar si 
										ametLorum ipsum dollar si amet am
										etLorum ipsum dollar si amet
									</p>
									<div class="home-item-description-btn">									
										<button class="btn btn-primary">BEKIJK <i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="home-item-img-container">
									<div class="home-item-img">
										<img src="img/item-img-small.png" class="img-responsive">
										<div class="price-wrapper">€495,-</div>
									</div>
									<div class="home-item-data">
										<div class="date">12-05-2013</div>
										<div class="location">Leeuwarden, FR</div>
										<div class="comments"><a href="#"><i class="fa fa-comment"></i>Reacties (3)</a></div>
									</div>
								</div>
								<div class="home-item-description">
									<p><strong>Te koop</strong></p>
									<p>Lorum ipsum dollar si amet Lorum ipsum dollar si 
										ametLorum ipsum dollar si amet am
										etLorum ipsum dollar si amet
									</p>
									<div class="home-item-description-btn">									
										<button class="btn btn-primary">BEKIJK <i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>
							
							<div class="item sold">
								<div class="home-item-img-container">
									<div class="home-item-img">
										<img src="img/item-img.png" class="img-responsive">
										<div class="price-wrapper">BIEDEN</div>
									</div>
									<div class="home-item-data">
										<div class="date">12-05-2013</div>
										<div class="location">Leeuwarden, FR</div>
										<div class="comments"><a href="#"><i class="fa fa-comment"></i>Reacties (3)</a></div>
									</div>
								</div>
								<div class="home-item-description">
									<p><strong>Te koop</strong></p>
									<p>Lorum ipsum dollar si amet Lorum ipsum dollar si 
										ametLorum ipsum dollar si amet am
										etLorum ipsum dollar si amet
									</p>
									<div class="home-item-description-btn">									
										<button class="btn btn-primary">BEKIJK <i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>
							<div class="item sold">
								<div class="home-item-img-container">
									<div class="home-item-img">
										<img src="img/item-img-small.png" class="img-responsive">
										<div class="price-wrapper">BIEDEN</div>
									</div>
									<div class="home-item-data">
										<div class="date">12-05-2013</div>
										<div class="location">Leeuwarden, FR</div>
										<div class="comments"><a href="#"><i class="fa fa-comment"></i>Reacties (3)</a></div>
									</div>
								</div>
								<div class="home-item-description">
									<p><strong>Te koop</strong></p>
									<p>Lorum ipsum dollar si amet Lorum ipsum dollar si 
										ametLorum ipsum dollar si amet am
										etLorum ipsum dollar si amet
									</p>
									<div class="home-item-description-btn">									
										<button class="btn btn-primary">BEKIJK <i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="home-item-img-container">
									<div class="home-item-img">
										<img src="img/item-img-small.png" class="img-responsive">
										<div class="price-wrapper">€495,-</div>
									</div>
									<div class="home-item-data">
										<div class="date">12-05-2013</div>
										<div class="location">Leeuwarden, FR</div>
										<div class="comments"><a href="#"><i class="fa fa-comment"></i>Reacties (3)</a></div>
									</div>
								</div>
								<div class="home-item-description">
									<p><strong>Te koop</strong></p>
									<p>Lorum ipsum dollar si amet Lorum ipsum dollar si 
										ametLorum ipsum dollar si amet am
										etLorum ipsum dollar si amet
									</p>
									<div class="home-item-description-btn">									
										<button class="btn btn-primary">BEKIJK <i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>
							<div class="masonry-btn-wrapper">
								<button class="btn btn-primary">BEKIJK ALLE</button>
							</div>
						</div>
					</div>
				</div>			
			</div>


			<div class="col-md-4 col-lg-3 home-sidebar-container">
	<div class="home-sidebar-item sidebar-item">
		<div class="home-item-title">
			<h2>GEBRUIKER</h2>
			<a href="" class="item-close">&nbsp;</a>
		</div>
		<div class="sidebar-item-body sidebar-login-container">
			<h5>LOGIN VOOR OPTIMAAL GEBRUIK</h5>
			<div class="login-form-wrapper">
				<form >
					<div class="form-group">					
						<input type="text" class="home-input form-control" placeholder="gebruikersnaam...">	
					</div>
					<div class="form-group">					
						<input type="password" class="home-input form-control" placeholder="wachtwoord...">	
					</div>
				</form>
				<div class="login-btn-container">
					<a href="#" class="btn btn-login">login</a>
				</div>
			</div>
			<div class="question"><a href=""> wachtwoord of gebruikersnaam vergeten? klik hier</a></div>				
			<div class="new-user-buttons">
				<p>Nieuwe gebruiker?</p>
				<div>
					<a href="#" class="btn btn-signin fb-btn">
						<i class="fa fa-facebook-square"></i>
						LOGIN MET 
						FACEBOOK
					</a>
					<span>or</span>
					<a href="#" class="btn btn-signin">
						REGISTREER
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="home-sidebar-item sidebar-item">
		<div class="home-item-title">
			<h2>HET WEER</h2>
			<a href="" class="item-close">&nbsp;</a>
		</div>
		<div class="sidebar-item-body sidebar-weather">
			<ul>
				<li class="active">
					<a href="" class="sidebar-item-header">
						<h3>MAANDAG</h3>
						<div class="daily-weather">
							<i class="icon-weather icon-scloudy"></i>
							<span class="temp">26°C</span>
						</div>
					</a>
					
					<div class="sidebar-item-content">
						<div class="date">
							<span class="day">
								April 22
							</span>
							<span class="time">
								10:22 AM
							</span>
						</div>
						<div class="daily-weather-lg">
							<div class="temperatuer">
								<h4>LEEUWARDEN</h4>
								<span>26°C</span>
								<p>Gede elte lijk Bewolkt</p>
							</div>
							<div class="weather-icon-wrapper">
								<i class="icon-weather icon-scloudy-lg"></i>
							</div>
						</div>
						<div class="day-weather-property">
							<div class="temp">
								<p><i class="icon-weather icon-temp-down"></i>26°</p> 
								<p><i class="icon-weather icon-temp-up"></i>32°</p> 
							</div>
							<div class="sunrise">
								<p><i class="icon-weather icon-sunrise"></i>7:22 AM</p> 
								<p><i class="icon-weather icon-sunset"></i>7:17 PM</p> 
							</div>
							<div class="temp">
								<p><i class="icon-weather icon-mist"></i>76%</p> 
								<p><i class="icon-weather icon-uv"></i>7 UV INDEX</p> 
							</div>
						</div>
						<div class="compass-wrapper">
							<div class="compass">
								<i class="icon-weather icon-compas"></i>
								<div>
								14-19km/h <BR>
									<span>
										FROM SW
									</span>
								</div>							
							</div>
							<i class="icon-weather icon-glob pull-right"></i>
						</div>
					</div>
				</li>
				<li>
					<a href="" class="sidebar-item-header">
						<h3>DINSDAG</h3>
						<div class="daily-weather">
							<i class="icon-weather icon-scloudy"></i>
							<span class="temp">26°C</span>
						</div>
					</a>
					
					<div class="sidebar-item-content">
						<div class="date">
							<span class="day">
								April 22
							</span>
							<span class="time">
								10:22 AM
							</span>
						</div>
						<div class="daily-weather-lg">
							<div class="temperatuer">
								<h4>LEEUWARDEN</h4>
								<span>26°C</span>
								<p>Gede elte lijk Bewolkt</p>
							</div>
							<div class="weather-icon-wrapper">
								<i class="icon-weather icon-scloudy-lg"></i>
							</div>
						</div>
						<div class="day-weather-property">
							<div class="temp">
								<p><i class="icon-weather icon-temp-down"></i>26°</p> 
								<p><i class="icon-weather icon-temp-up"></i>32°</p> 
							</div>
							<div class="sunrise">
								<p><i class="icon-weather icon-sunrise"></i>7:22 AM</p> 
								<p><i class="icon-weather icon-sunset"></i>7:17 PM</p> 
							</div>
							<div class="temp">
								<p><i class="icon-weather icon-mist"></i>76%</p> 
								<p><i class="icon-weather icon-uv"></i>7 UV INDEX</p> 
							</div>
						</div>
						<div class="compass-wrapper">
							<div class="compass">
								<i class="icon-weather icon-compas"></i>
								<div>
								14-19km/h <BR>
									<span>
										FROM SW
									</span>
								</div>							
							</div>
							<i class="icon-weather icon-glob pull-right"></i>
						</div>
					</div>
				</li>
				<li>
					<a href="" class="sidebar-item-header">
						<h3>WOENSDAG</h3>
						<div class="daily-weather">
							<i class="icon-weather icon-scloudy"></i>
							<span class="temp">26°C</span>
						</div>
					</a>
					
					<div class="sidebar-item-content">
						<div class="date">
							<span class="day">
								April 22
							</span>
							<span class="time">
								10:22 AM
							</span>
						</div>
						<div class="daily-weather-lg">
							<div class="temperatuer">
								<h4>LEEUWARDEN</h4>
								<span>26°C</span>
								<p>Gede elte lijk Bewolkt</p>
							</div>
							<div class="weather-icon-wrapper">
								<i class="icon-weather icon-scloudy-lg"></i>
							</div>
						</div>
						<div class="day-weather-property">
							<div class="temp">
								<p><i class="icon-weather icon-temp-down"></i>26°</p> 
								<p><i class="icon-weather icon-temp-up"></i>32°</p> 
							</div>
							<div class="sunrise">
								<p><i class="icon-weather icon-sunrise"></i>7:22 AM</p> 
								<p><i class="icon-weather icon-sunset"></i>7:17 PM</p> 
							</div>
							<div class="temp">
								<p><i class="icon-weather icon-mist"></i>76%</p> 
								<p><i class="icon-weather icon-uv"></i>7 UV INDEX</p> 
							</div>
						</div>
						<div class="compass-wrapper">
							<div class="compass">
								<i class="icon-weather icon-compas"></i>
								<div>
								14-19km/h <BR>
									<span>
										FROM SW
									</span>
								</div>							
							</div>
							<i class="icon-weather icon-glob pull-right"></i>
						</div>
					</div>
				</li>
				<li>
					<a href="" class="sidebar-item-header">
						<h3>DONDERDAG</h3>
						<div class="daily-weather">
							<i class="icon-weather icon-scloudy"></i>
							<span class="temp">26°C</span>
						</div>
					</a>
					
					<div class="sidebar-item-content">
						<div class="date">
							<span class="day">
								April 22
							</span>
							<span class="time">
								10:22 AM
							</span>
						</div>
						<div class="daily-weather-lg">
							<div class="temperatuer">
								<h4>LEEUWARDEN</h4>
								<span>26°C</span>
								<p>Gede elte lijk Bewolkt</p>
							</div>
							<div class="weather-icon-wrapper">
								<i class="icon-weather icon-scloudy-lg"></i>
							</div>
						</div>
						<div class="day-weather-property">
							<div class="temp">
								<p><i class="icon-weather icon-temp-down"></i>26°</p> 
								<p><i class="icon-weather icon-temp-up"></i>32°</p> 
							</div>
							<div class="sunrise">
								<p><i class="icon-weather icon-sunrise"></i>7:22 AM</p> 
								<p><i class="icon-weather icon-sunset"></i>7:17 PM</p> 
							</div>
							<div class="temp">
								<p><i class="icon-weather icon-mist"></i>76%</p> 
								<p><i class="icon-weather icon-uv"></i>7 UV INDEX</p> 
							</div>
						</div>
						<div class="compass-wrapper">
							<div class="compass">
								<i class="icon-weather icon-compas"></i>
								<div>
								14-19km/h <BR>
									<span>
										FROM SW
									</span>
								</div>							
							</div>
							<i class="icon-weather icon-glob pull-right"></i>
						</div>
					</div>
				</li>
				<li>
					<a href="" class="sidebar-item-header">
						<h3>VRIJDAG</h3>
						<div class="daily-weather">
							<i class="icon-weather icon-scloudy"></i>
							<span class="temp">26°C</span>
						</div>
					</a>
					
					<div class="sidebar-item-content">
						<div class="date">
							<span class="day">
								April 22
							</span>
							<span class="time">
								10:22 AM
							</span>
						</div>
						<div class="daily-weather-lg">
							<div class="temperatuer">
								<h4>LEEUWARDEN</h4>
								<span>26°C</span>
								<p>Gede elte lijk Bewolkt</p>
							</div>
							<div class="weather-icon-wrapper">
								<i class="icon-weather icon-scloudy-lg"></i>
							</div>
						</div>
						<div class="day-weather-property">
							<div class="temp">
								<p><i class="icon-weather icon-temp-down"></i>26°</p> 
								<p><i class="icon-weather icon-temp-up"></i>32°</p> 
							</div>
							<div class="sunrise">
								<p><i class="icon-weather icon-sunrise"></i>7:22 AM</p> 
								<p><i class="icon-weather icon-sunset"></i>7:17 PM</p> 
							</div>
							<div class="temp">
								<p><i class="icon-weather icon-mist"></i>76%</p> 
								<p><i class="icon-weather icon-uv"></i>7 UV INDEX</p> 
							</div>
						</div>
						<div class="compass-wrapper">
							<div class="compass">
								<i class="icon-weather icon-compas"></i>
								<div>
								14-19km/h <BR>
									<span>
										FROM SW
									</span>
								</div>							
							</div>
							<i class="icon-weather icon-glob pull-right"></i>
						</div>
					</div>
				</li>
				<li>
					<a href="" class="sidebar-item-header">
						<h3>ZATERDAG</h3>
						<div class="daily-weather">
							<i class="icon-weather icon-scloudy"></i>
							<span class="temp">26°C</span>
						</div>
					</a>
					
					<div class="sidebar-item-content">
						<div class="date">
							<span class="day">
								April 22
							</span>
							<span class="time">
								10:22 AM
							</span>
						</div>
						<div class="daily-weather-lg">
							<div class="temperatuer">
								<h4>LEEUWARDEN</h4>
								<span>26°C</span>
								<p>Gede elte lijk Bewolkt</p>
							</div>
							<div class="weather-icon-wrapper">
								<i class="icon-weather icon-scloudy-lg"></i>
							</div>
						</div>
						<div class="day-weather-property">
							<div class="temp">
								<p><i class="icon-weather icon-temp-down"></i>26°</p> 
								<p><i class="icon-weather icon-temp-up"></i>32°</p> 
							</div>
							<div class="sunrise">
								<p><i class="icon-weather icon-sunrise"></i>7:22 AM</p> 
								<p><i class="icon-weather icon-sunset"></i>7:17 PM</p> 
							</div>
							<div class="temp">
								<p><i class="icon-weather icon-mist"></i>76%</p> 
								<p><i class="icon-weather icon-uv"></i>7 UV INDEX</p> 
							</div>
						</div>
						<div class="compass-wrapper">
							<div class="compass">
								<i class="icon-weather icon-compas"></i>
								<div>
								14-19km/h <BR>
									<span>
										FROM SW
									</span>
								</div>							
							</div>
							<i class="icon-weather icon-glob pull-right"></i>
						</div>
					</div>
				</li>
				<li>
					<a href="" class="sidebar-item-header">
						<h3>ZONDAG</h3>
						<div class="daily-weather">
							<i class="icon-weather icon-scloudy"></i>
							<span class="temp">26°C</span>
						</div>
					</a>
					
					<div class="sidebar-item-content">
						<div class="date">
							<span class="day">
								April 22
							</span>
							<span class="time">
								10:22 AM
							</span>
						</div>
						<div class="daily-weather-lg">
							<div class="temperatuer">
								<h4>LEEUWARDEN</h4>
								<span>26°C</span>
								<p>Gede elte lijk Bewolkt</p>
							</div>
							<div class="weather-icon-wrapper">
								<i class="icon-weather icon-scloudy-lg"></i>
							</div>
						</div>
						<div class="day-weather-property">
							<div class="temp">
								<p><i class="icon-weather icon-temp-down"></i>26°</p> 
								<p><i class="icon-weather icon-temp-up"></i>32°</p> 
							</div>
							<div class="sunrise">
								<p><i class="icon-weather icon-sunrise"></i>7:22 AM</p> 
								<p><i class="icon-weather icon-sunset"></i>7:17 PM</p> 
							</div>
							<div class="temp">
								<p><i class="icon-weather icon-mist"></i>76%</p> 
								<p><i class="icon-weather icon-uv"></i>7 UV INDEX</p> 
							</div>
						</div>
						<div class="compass-wrapper">
							<div class="compass">
								<i class="icon-weather icon-compas"></i>
								<div>
								14-19km/h <BR>
									<span>
										FROM SW
									</span>
								</div>							
							</div>
							<i class="icon-weather icon-glob pull-right"></i>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>	
	<div class="home-sidebar-item sidebar-item ">
		<div class="home-item-title">
			<h2>NIEUWS (NU.nl)</h2>
			<a href="" class="item-close">&nbsp;</a>
		</div>
		<div class="sidebar-item-body">
			<ul>
				<li>
					<a href="" class="sidebar-item-header">
						<h3>Oranje gaat Google Glass en 
							Oculus Rift gebruiken bij WK
						</h3>
						<p>Nieuw bedrijf gaat Jacobs Douwe Egberts heten</p>
					</a>
					
					<div class="sidebar-item-content">
						Koffie- en theemerk DE Master Blenders 1753 
						(Douwe Egberts) en het Amerikaanse voedselco-
						nglomeraat Mondelez International voegen hun 
						koffieactiviteiten samen.Douwe Egberts en Mond-
						elez fuseren Dat maken de twee ondernemingen 
						woensdag bekend. Door de fusie ontstaat een 
						koffieproducent met een jaaromzet van ruim 7 
						miljard dollar (5 miljard euro). <a href="">Lees verder..</a>
					</div>
				</li>
				<li>
					<a href="" class="sidebar-item-header">
						<h3>DOUWE EGBERT EN MONDELEZ 
							FUSEREN
						</h3>
						<p>Nieuw bedrijf gaat Jacobs Douwe Egberts heten</p>
					</a>
					
					<div class="sidebar-item-content">
						Koffie- en theemerk DE Master Blenders 1753 
						(Douwe Egberts) en het Amerikaanse voedselco-
						nglomeraat Mondelez International voegen hun 
						koffieactiviteiten samen.Douwe Egberts en Mond-
						elez fuseren Dat maken de twee ondernemingen 
						woensdag bekend. Door de fusie ontstaat een 
						koffieproducent met een jaaromzet van ruim 7 
						miljard dollar (5 miljard euro). <a href="">Lees verder..</a>
					</div>
				</li>
				<li>
					<a href="" class="sidebar-item-header">
						<h3>DOUWE EGBERT EN MONDELEZ 
							FUSEREN
						</h3>
						<p>Nieuw bedrijf gaat Jacobs Douwe Egberts heten</p>
					</a>
					
					<div class="sidebar-item-content">
						Koffie- en theemerk DE Master Blenders 1753 
						(Douwe Egberts) en het Amerikaanse voedselco-
						nglomeraat Mondelez International voegen hun 
						koffieactiviteiten samen.Douwe Egberts en Mond-
						elez fuseren Dat maken de twee ondernemingen 
						woensdag bekend. Door de fusie ontstaat een 
						koffieproducent met een jaaromzet van ruim 7 
						miljard dollar (5 miljard euro). <a href="">Lees verder..</a>
					</div>
				</li>
				<li class="active">
					<a href="" class="sidebar-item-header">
						<h3>DOUWE EGBERT EN MONDELEZ 
							FUSEREN
						</h3>
						<p>Nieuw bedrijf gaat Jacobs Douwe Egberts heten</p>
					</a>
					
					<div class="sidebar-item-content">
						Koffie- en theemerk DE Master Blenders 1753 
						(Douwe Egberts) en het Amerikaanse voedselco-
						nglomeraat Mondelez International voegen hun 
						koffieactiviteiten samen.Douwe Egberts en Mond-
						elez fuseren Dat maken de twee ondernemingen 
						woensdag bekend. Door de fusie ontstaat een 
						koffieproducent met een jaaromzet van ruim 7 
						miljard dollar (5 miljard euro). <a href="">Lees verder..</a>
					</div>
				</li>
				<li>
					<a href="" class="sidebar-item-header">
						<h3>DOUWE EGBERT EN MONDELEZ 
							FUSEREN
						</h3>
						<p>Nieuw bedrijf gaat Jacobs Douwe Egberts heten</p>
					</a>
					
					<div class="sidebar-item-content">
						Koffie- en theemerk DE Master Blenders 1753 
						(Douwe Egberts) en het Amerikaanse voedselco-
						nglomeraat Mondelez International voegen hun 
						koffieactiviteiten samen.Douwe Egberts en Mond-
						elez fuseren Dat maken de twee ondernemingen 
						woensdag bekend. Door de fusie ontstaat een 
						koffieproducent met een jaaromzet van ruim 7 
						miljard dollar (5 miljard euro). <a href="">Lees verder..</a>
					</div>
				</li>
				<li>
					<a href="" class="sidebar-item-header">
						<h3>DOUWE EGBERT EN MONDELEZ 
							FUSEREN
						</h3>
						<p>Nieuw bedrijf gaat Jacobs Douwe Egberts heten</p>
					</a>
					
					<div class="sidebar-item-content">
						Koffie- en theemerk DE Master Blenders 1753 
						(Douwe Egberts) en het Amerikaanse voedselco-
						nglomeraat Mondelez International voegen hun 
						koffieactiviteiten samen.Douwe Egberts en Mond-
						elez fuseren Dat maken de twee ondernemingen 
						woensdag bekend. Door de fusie ontstaat een 
						koffieproducent met een jaaromzet van ruim 7 
						miljard dollar (5 miljard euro). <a href="">Lees verder..</a>
					</div>
				</li>
			</ul>
		</div>
	</div>		
</div>
			
		</div>
	</div>

	<div class="bg-overlay">
		<div class="modal-content-wrapper">
			
		</div>
	</div>

	<footer>
        <div class="container footer-container">
            <ul>
                <li><h6>Veiligheid</h6>
                    <ul>
                        <li><a href="">Tips voor veilig handelen</a></li>
                        <li><a href="">Meld een adverteerder</a></li>
                        <li><a href="">Meld een advertentie</a></li>
                    </ul>
                </li>
                <li><h6>Voorwaarden en privacybeleid</h6>
                    <ul>
                        <li><a href="">Algemene gebruikersvoorwaarden</a></li>
                        <li><a href="">Privacybeleid</a></li>
                        <li>
                            <a href="">Verboden of verdachte objecten en diensten</a>
                        </li>
                    </ul>
                </li>
                <li><h6>Help en info</h6>
                    <ul>
                        <li><a href="">Over Dropbord</a></li>
                        <li><a href="">Veelgestelde vragen</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </li>
            </ul>
        </div>
	</footer>












	<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>-->
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/masonry.pkgd.min.js"></script>
    <script src="js/vendor/imagesloaded.pkgd.min.js"></script>

    <!-- Main js file -->
    <script src="js/main.js"></script>

    <!-- Page specific js files -->
    <script src="js/home.js"></script>
        
    </body>
</html>