
	<div class="modal-page adv-notlogged">
		<div class="item-close-wrapper">
			<span>advertentie bewerken sluiten</span>
			<a href="" class="item-close">&nbsp;</a>
		</div>
	
		<h2>Advertentie bewerken</h2>
		<div class="row">
			<div class="col-md-9 adv-input">
				<div class="form-group ">
					<input type="text" class="form-control" placeholder="Seat Ibiza 1.6 SE 1998">
					<span>*</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9 adv-content">
				
				
				
				<div class="add-photo-container ">
					<div class="click-photo-wrapper ">
						<div class="click-photo">	
							<a href="">
								<i class="fa fa-plus"></i>
								<p>
									Klik hier om een<br> 
									foto te plaatsen
								</p>
							</a>
						</div>
					</div>

					<div class="item-photos">
						<div class="photo-item-wrapper">
							<div class="item1" style="background-image:url('img/item-photo.png')">
								<a href="">
									<i class="fa fa-times"></i>
									<p>Klik om te verwijderen</p>
								</a>
							</div>						
						</div>
						<div class="photo-item-wrapper">
							<div class="item1" style="background-image:url('img/item-photo.png')">
								<a href="">
									<i class="fa fa-times"></i>
									<p>Klik om te verwijderen</p>
								</a>
							</div>						
						</div>
						<div class="photo-item-wrapper">
							<div class="item1 add-item" >
								<a href="">
									<i class="fa fa-plus"></i>
									<p>Klik om meer foto’s <br>toe te voegen</p>									
								</a>
							</div>						
						</div>
					</div>
				</div>
				<div class="textarea-wrapper">
					<textarea class="form-control" >Te koop

Met pijn in mijn hart verkoop ik mijn Seat Ibiza uit 1998.
Wegens aanschaf van een grotere auto verkoop ik mijn seat.

Technisch 100%. Op de buitenkant zitten een aantal krasjes maar dit is te verwachten
van een auto van 15 jaar oud.

Vanwege het lichte gewicht in combinatie met de 1.6 liter motor is het een vrij snelle auto.

De teller staat nog maar op 108.000 km dus er kan nog jaren in gereden worden.

De Beller is sneller!

Groeten A. Arakelov.
					</textarea>
				</div>				
			</div>
			<div class="col-md-3 adv-sidebar">
				<div class="adv-form-container">
					<h2>Kenmerken</h2>
					<form>
						<div class="form-group">
							<label>Plaats in rubriek</label>
							<select class="form-control">
                                <option>Auto’s | Seat</option>
                            </select>
						</div>
						<div class="form-group">
							<label>Bouwjaar:</label>
							<select class="form-control">
                                <option>1998</option>
                            </select>
						</div>
						<div class="form-group">
							<label>Km stand</label>
							<input type="text" class="form-control" placeholder="108 000">
						</div>
						<div class="form-group">
							<label>Transmissie</label>
							<select class="form-control">
                                <option>Handgeschakeld</option>
                            </select>
						</div>
						<div class="form-group">
							<label>Brandstof</label>
							<select class="form-control">
                                <option>Benzine</option>
                            </select>
						</div>
						<div class="form-group">
							<label>Vraagprijs:</label>
							<select class="form-control">
                                <option>€3500,-</option>
                            </select>
						</div>
					</form>
				</div>
				<!-- <div class="adv-user-info-wrapper">
					<div class="adv-user-img">
						<img src="img/user-img.png">
					</div>
					<div class="adv-user-info">
						<p>U bent ingelogd als:</p>
						<h5>A. Arakelov<br><span>4,5 jaar actief op DB</span></h5>
						<p><strong>06 11 14 21 25</strong></p>
						
						<p><a href="">Klik hier om uw<br>gegevens te wijzigen</a></p>
					</div>
				</div> -->
				<div class="adv-uitloggen">
					Bent u dit niet? Klik hier:
					<button class="btn btn-primary">UITLOGGEN</button>
				</div>
				<div class="adv-map-container">
					Leeuwarden,Friesland
					<div class="map-img">
						<img src="img/map.png">
					</div>
				</div>
				<div class="adv-bieden-container">
					<div class="bieden-title">
						<h4>BIEDEN</h4>
						<!-- Slide THREE -->
						<div class="adv-slide-checkbox-wrapper">
							<div class="adv-slide-checkbox">	
								<input type="checkbox" value="None" id="slideThree" name="check" style="display:none" />
								<label for="slideThree"></label>
							</div>
							<div class="adv-on-off">
								<span>BIEDEN:</span>
								<span class="aan">AAN</span>
							</div>
						</div>
					</div>
					<div class="bieden-content">
						<h5>Geef hier aan hoeveel het minimum bod moet bedragen.</h5>
						<input type="text" class="form-control" placeholder="€ 500,-">
					</div>	
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-xs-12 adv-place">
				<h2>Plaats de advertentie</h2>
				<div class="form-group">
					<label>Uw naam:</label>
					<input type="text" class="form-control" placeholder="A. Arakelov">
					<span>U bent vergeten uw naam in te vullen.</span>
				</div>
				<div class="form-group postcode-wrapper">
					<label>Uw postcode:</label>
					<input type="text" class="form-control" placeholder="0000">
					<input type="text" class="form-control" placeholder="AB">

					<span>Zorg dat dit een geldig emailadres is. U krijgt op deze email een activatiemail!</span>
				</div>
				<div class="form-group">
					<label>Uw emailadres:</label>
					<input type="text" class="form-control" placeholder="Typ hier uw emailadres..">
					<span>Zorg dat dit een geldig emailadres is. U krijgt op deze email een activatiemail!</span>
				</div>
				<button class="bnt btn-primary">PLAATSEN</button>
			</div>

			<div class="col-md-6 col-xs-12 adv-post-video">
				<h2>Voeg een url of video toe</h2>
				<p>
					Dropbord bied u de mogelijkheid om een url en/of video bij uw 
					advertentie te plaatsen. Op deze manier kunt u uw producten 
					nog beter presenteren aan eventuele kopers.<br>
					<strong>Het plaatsen van een advertentie met alleen foto’s en tekst 
						is gratis.
					</strong>
				</p>
				<div class="form-group">
					<label>Plaats een website url bij uw advertentie(€3,75):</label>
					<input type="text" class="form-control" placeholder="http://www.andoarakelov.nl/producten/foto-album-1/">					
				</div>
				<div class="form-group paste-url">
					<label>Plaats een video bij uw advertentie(€5,75):</label>
					<input type="text" class="form-control" placeholder="plak hier uw youtube of vimeo url..">
					<span>Of</span>
					<button class="bnt btn-primary">Kies een<br> bestand</button>
				</div>
			</div>
		</div>
	</div>
