
	<div class="modal-page adv-placing-container adv-open-container">
		<div class="item-close-wrapper">
			<span class="hidden-xs">Advertentie sluitendiv</span>
			<a href="" class="item-close">&nbsp;</a>
		</div>

		<h2 class="main-title">Lexus Is 200 automaat te koop</h2>
		<p class="sub-title">Geplaatst op: 12-05-2013</p>
		<div class="row">
			<div class="col-md-9 adv-content">
				
				
				
				<div class="add-photo-container ">
					<div class="click-photo-wrapper ">
						<div class="click-photo" style="background-image:url('img/car.png')">	
							<a href="">
								<img src="img/play.png">
							</a>
						</div>
					</div>
					<div class="item-photos">
						<div class="photo-item-wrapper">
							<div class="item1" style="background-image:url('img/car.png')">
								<a href="">
									
								</a>
							</div>						
						</div>
						<div class="photo-item-wrapper">
							<div class="item1" style="background-image:url('img/car.png')">
								<a href="">
									
								</a>
							</div>						
						</div>
						<div class="photo-item-wrapper">
							<div class="item1 last-item" style="background-image:url('img/car.png')">
								<a href="">
									<i class="fa fa-plus"></i>
									<span>5</span>									
								</a>
							</div>						
						</div>
					</div>
				</div>

				<p>
					Geachte Heer/Mevrouw,
				</p><br>
				<p>
					Bij deze verkoop ik met pijn in mijn hart mij Lexus. Vanwege gebrek aan plaats bij mijn nieuwe 
					woning ben ik genoodzaakt mijn auto verkopen. De auto is motorisch perfect. Van buiten ziet de 
					auto er ook erg netjes uit. Graag bieden vanaf 3500 euro
				</p>
				<ul class="adv-open-info">
					<li>Opties:</li>
					<li>Armsteun achter</li>
					<li>Armsteun voor, </li>
					<li>Bekleding half leder/half alcantara, </li>
					<li>Binnenspiegel automatisch dimmend</li>
					<li>Boordcomputer, </li>
					<li>Centrale deurvergrendeling met afstandsbediening</li>
					<li>Cruise control</li>
					<li>ECC (electronic climate control)</li>
					<li>Keyless entry</li>
					<li>Lendesteunen verstelbaar</li>
					<li>Parkeersensoren achter</li>
					<li>Parkeersensoren voor</li>
					<li>Parkeersensoren voor en achter</li>
					<li>Ramen elektrisch bedienbaar</li>
					<li>Ramen voor en achter elektrisch bedienbaar</li>
					<li>Regensensor</li>
				</ul>
				<p>
					De beller is sneller<br><br>
					Met vriendelijke groet,<br><br>
					Ando
				</p>
				<div class="direct-container">
					<h2>Direct reageren</h2>
					<div class="direct-row">
						<ul>
							<li>
								<div class="avatar-container"><img src="img/avatar-img.png"></div>
								<div>
									<span>Reactie geplaatst door A. Arakelov op 2-4-2014 om 19:36 uur.</span>
									<br>Mooie auto, is de auto nog  te koop? 
								</div>
								<div class="icons-container">
									<a href="#"><img src="img/pen.png"></a>
									<a href="#"><img src="img/bin.png"></a>
								</div>
								<div class="flag-text">
									<img src="img/flag.png"><br>
									<span>Meldt dit bericht</span>
								</div>
							</li>
							<li>
								<div class="avatar-container"><img src="img/avatar-img.png"></div>
								<div>
									<span>Reactie geplaatst door A. Arakelov op 2-4-2014 om 19:36 uur.</span>
									<br>Mooie auto, is de auto nog  te koop? 
								</div>
								<div class="icons-container">
									<a href="#"><img src="img/pen.png"></a>
									<a href="#"><img src="img/bin.png"></a>
								</div>
								<div class="flag-text">
									<img src="img/flag.png"><br>
									<span>Meldt dit bericht</span>
								</div>
							</li>
							<li>
								<div class="avatar-container"><img src="img/avatar-img.png"></div>
								<div class="comment-container">
									<textarea class="form-control"></textarea>
								</div>
								<div class="comment-button-container">
									<a href="#" class="btn btn-primary">
										Verstuur
									</a>
								</div>
							</li>

						</ul>
					</div>

					<h2>Vergelijkbaar</h2>
					<div class="bottom-row">
						<ul>
							<li>
								<a href="">
									<div class="bottom-row-item">
										<div class="bottom-img-container" style="background-image:url('img/car.png')">
										</div>
									</div>
									<p>
										<strong>
											Bmw 320 e36 2.3
										</strong><br>
											262.000 KM<br>
											Benzine automaat<br>
											€3000,-
									</p>
								</a>
							</li>
							<li>
								<a href="">
									<div class="bottom-row-item">
										<div class="bottom-img-container" style="background-image:url('img/car.png')">
										</div>
									</div>
									<p>
										<strong>
											Bmw 320 e36 2.3
										</strong><br>
											262.000 KM<br>
											Benzine automaat<br>
											€3000,-
									</p>
								</a>
							</li>
							<li>
								<a href="">
									<div class="bottom-row-item">
										<div class="bottom-img-container" style="background-image:url('img/car.png')">
										</div>
									</div>
									<p>
										<strong>
											Bmw 320 e36 2.3
										</strong><br>
											262.000 KM<br>
											Benzine automaat<br>
											€3000,-
									</p>
								</a>
							</li>
							<li>
								<a href="">
									<div class="bottom-row-item">
										<div class="bottom-img-container" style="background-image:url('img/car.png')">
										</div>
									</div>
									<p>
										<strong>
											Bmw 320 e36 2.3
										</strong><br>
											262.000 KM<br>
											Benzine automaat<br>
											€3000,-
									</p>
								</a>
							</li>

						</ul>
					</div>

				</div>
								
			</div>
			<div class="col-md-3">
				<div class="adv-form-container">
					<h2>Kenmerken</h2>
					<h5>Lexus Is 200 automaat te koop.</h5>
					<table>
						<tr>
							<td class="semi">Bouwjaar</td><td>2000</td>
						</tr>
						<tr>
							<td class="semi">km stand</td><td>241000</td>
						</tr>
						<tr>
							<td class="semi">Transmissie</td><td>Automaat</td>
						</tr>

						<tr>
							<td class="semi">Brandstof</td><td>Benzine</td>
						</tr>
					</table>
					<a href="#" class="btn btn-social">
						<i class="fa fa-facebook-square"></i>
						DEEL OP FACEBOOK
					</a>
					<a href="#" class="btn btn-social">
						<i class="fa fa-twitter"></i>
						DEEL OP TWITTER
					</a>
					<p>
						Vraagprijs:<br>
						<strong>
							€3500,-
						</strong><br>
						(Of doe een bod met de biedfuncte)
					</p>
				</div>
				<!-- <div class="adv-user-info-wrapper">
					<div class="adv-user-img">
						<img src="img/user-image.png" class="img-responsive">
					</div>
					<div class="adv-user-info">
						<p>U bent ingelogd als:</p>
						<h5>A. Arakelov<br><span>4,5 jaar actief op DB</span></h5>
						<p><strong>06 11 14 21 25</strong></p>
						
						<p><a href="">Klik hier om uw<br>gegevens te wijzigen</a></p>
					</div>
				</div> -->
				<div class="adv-user-info-wrapper">
					<div class="adv-user-img">
						<img src="img/user-img.png">
					</div>
					<div class="adv-user-info">
						<p>U bent ingelogd als:</p>
						<h5>A. Arakelov<br><span>4,5 jaar actief op DB</span></h5>
						<p><strong>06 11 14 21 25</strong></p>
						
						<p><a href="">Bekijk alle advertenties<br>van deze gebruiker</a></p>
					</div>
				</div>
				<div class="adv-uitloggen">
					<button class="btn btn-primary">EMAIL DEZE ADVERTEERDER</button>
					<button class="btn btn-primary">GA NAAR DE WEBSITE VAN<br>DEZE ADVERTEERDER</button>
				</div>
				<div class="adv-map-container">
					Leeuwarden,Friesland
					<div class="map-img">
						<img src="img/map.png">
					</div>
				</div>
				<div class="bieden-wrapper">
					<p>Bekijk op Google maps</p>
					<div class="adv-bieden-container">
						<div class="bieden-title">
							<h4>BIEDEN</h4>
							<!-- Slide THREE -->
							
						</div>
						<div class="bieden-content">
							<div class="form-group">
								<label>E-mail adres:</label>
								<input type="text" class="form-control" placeholder="E-mail adres..">
							</div>
							<div class="form-group">
								<label>Uw bod (boven €3000,-):</label>
								<input type="text" class="form-control" placeholder="€">
							</div>
							<div class="form-group">
								<button class="btn btn-primary">Plaats uw bod</button>
							</div>
						</div>
						<div class="bieden-list">
							<ul>
								<li>Sipke1991@live.nl <span>€3000,-</span></li>
								<li>Sipke1991@live.nl <span>€2500,-</span></li>
								<li>Marcopoppinga@lho...<span>€2000,-</span></li>
								<li>Bart-hoekstra@live.nl <span>€1500,-</span></li>
							</ul>
						</div>	
					</div>
				</div>
				<div class="adv-bottom-ections">
					<ul>
						<li>
							<a href="">
								<img src="img/save-icon.png">
								<p>Bewaar deze<br>advertentie</p>
							</a>
						</li>
						<li>
							<a href="">
								<img src="img/icon1.png">
								<p>Mail deze<br>advertentie</p>
							</a>
						</li>
						<li>
							<a href="">
								<img src="img/print-icon.png">
								<p>Print deze <br>advertentie</p>
							</a>
						</li>
						<li>
							<a href="">
								<img src="img/flag-icon.png">
								<p>Bewaar deze<br>of tip dropbord</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
